@page "/jointable"
@rendermode InteractiveWebAssembly
@using BlazorCaravan2.Client.Services

@inject NavigationManager NavigationManager

<h3>JoinTable</h3>


<div class="form-group row">
    <label for="tableName" class="col-sm-3 col-form-label">
        Session id
    </label>
    <div class="col-sm-9">
        <input id="tablesessionid" placeholder=""
                    @bind="SessionIdToConnect" />
    </div>
</div>
<div class="text-center">
    <button @onclick="JoinTableSubmit">Confirm</button>
</div>

@code {
    public string SessionIdToConnect { get; set; } = "";

    private void JoinTableSubmit()
    {
        string connectionroute = $"/caravan/{SessionIdToConnect}";
        NavigationManager.NavigateTo(connectionroute);
    }


    
}
